.taskDetails{
    display: flex;
    align-items: center;
    gap: 5px;
}
.addTaskForm{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.addTaskFormComponents{
    align-items: center;
    display: flex;
    gap: 5px;
    margin-inline: 10px;
}